body {
  margin: 0px;
  height: 100%;
  background: url(/images/back.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.nav {
  display: block; }

.grid {
  display: block; }
  .grid .grid-item {
    float: left;
    display: block; }

#header {
  height: 100px;
  background-image: url("/images/header_background.png");
  background-repeat: repeat-x;
  background-size: 10px 100%;
  left: 0px;
  top: 0px;
  background-color: lightgrey;
  box-shadow: 10px 10px 5px #000; }
  @media (min-width: 700px) {
    #header .container {
      left: 50%;
      width: 50%;
      position: absolute; }
      #header .container .centered-container {
        left: -25%;
        position: absolute; }
    #header .title-container {
      top: -14px;
      padding-left: 20px; } }
  @media (max-width: 700px) {
    #header .subtitle {
      font-size: 13px;
      position: absolute; }
    #header .headerLogo {
      padding-left: 20px; }
    #header .title-container {
      top: -26px;
      padding-left: 15px; } }
  #header .headerLogo {
    height: 67px;
    width: 67px;
    padding-top: 8px;
    display: inline-block; }
  #header .title-container {
    display: inline-block;
    position: relative; }
  #header .container {
    line-height: 1em;
    padding-left: 5%; }
  #header h1 {
    padding-top: 20px;
    padding-bottom: 0px;
    margin: 0px;
    font-weight: bolder;
    font-size: 2em;
    color: #EFAB17; }
  #header .subtitle {
    padding-top: 10px;
    padding-left: 67px;
    color: #f5ac26;
    font-style: italic;
    font-size: 1em; }

#footer {
  height: 20px;
  background-color: #e6e6eb;
  position: fixed;
  bottom: 0px;
  width: 100%; }
  @media (min-width: 700px) {
    #footer .container {
      left: 50%;
      width: 50%;
      position: absolute; }
      #footer .container .centered-container {
        left: -25%;
        position: absolute; } }
  @media (max-width: 700px) {
    #footer .container {
      left: 19%;
      width: 90%;
      position: absolute; }
      #footer .container .centered-container {
        left: 5%;
        position: absolute; } }
  #footer .navigation {
    font-weight: bold;
    font-size: 1em;
    color: #085eb9; }

.title {
  font-weight: bold; }

.searchLoader {
  text-align: center;
  font-size: 3em;
  color: cornflowerblue; }

.searchBar {
  left: 0px;
  border-color: #2a2e2f;
  max-height: 44px;
  border: medium none;
  color: #333333 !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px !important;
  height: 24px;
  line-height: 24px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  margin-right: 0px !important;
  width: 50%;
  max-width: 280px;
  opacity: 0.95;
  filter: alpha(opacity=95);
  z-index: 1;
  background-color: #e6e6e6; }

.searchButton {
  -webkit-font-smoothing: antialiased;
  color: #222222;
  display: block;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  height: 44px;
  line-height: 15px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  width: 97.375px;
  -webkit-appearance: none;
  -webkit-font-smoothing: auto;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: none;
  -webkit-writing-mode: horizontal-tb;
  align-items: flex-start;
  background-color: #f26516;
  border-bottom-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: white;
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: white;
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: none;
  border-top-width: 0px;
  box-sizing: border-box;
  color: white;
  cursor: default;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 44px;
  letter-spacing: normal;
  line-height: 15px;
  margin-bottom: 0px;
  margin-left: -1px;
  margin-right: 0px;
  margin-top: 0px;
  max-height: 44px;
  outline-width: 0px;
  padding-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 0px;
  text-align: center;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  white-space: pre;
  width: 98.375px;
  word-spacing: 0px;
  writing-mode: lr-tb; }

.resultObjectTitle {
  color: #085eb9; }

.resultObjectYear {
  color: limegreen; }

.resultObjectRating {
  font-weight: bold; }

.resultsGrid.grid {
  padding-left: 4%; }

@media (min-width: 700px) {
  .resultsGrid.grid .grid-item {
    float: left;
    display: block;
    margin: 14px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    min-width: 402px;
    width: 44%;
    height: 190px;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #000;
    overflow: hidden; } }
@media (max-width: 700px) {
  .resultsGrid.grid .grid-item {
    float: left;
    display: block;
    min-width: 250px;
    margin: 14px auto 14px auto;
    border-radius: 10px;
    text-align: left;
    width: 92%;
    height: 372px;
    background-color: #ffffff;
    color: #085eb9;
    box-shadow: 10px 10px 5px #000;
    overflow: hidden; } }
.resultsGrid.grid .grid-item .resultObjectTitle {
  display: block;
  font-size: 125%;
  font-weight: bold; }
.resultsGrid.grid .grid-item .resultObjectYear {
  display: block;
  font-size: 100%; }
.resultsGrid.grid .grid-item .resultObjectImage {
  display: inline-block; }
  @media (min-width: 700px) {
    .resultsGrid.grid .grid-item .resultObjectImage {
      float: left;
      margin-right: 15px; }
      .resultsGrid.grid .grid-item .resultObjectImage img {
        height: 150px; } }
  @media (max-width: 700px) {
    .resultsGrid.grid .grid-item .resultObjectImage {
      margin: 0px;
      width: 100%; }
      .resultsGrid.grid .grid-item .resultObjectImage img {
        width: 100%; } }
.resultsGrid.grid .grid-item .resultObjectContributor {
  display: block;
  color: limegreen; }
.resultsGrid.grid .grid-item .resultObjectViewerRating {
  display: block;
  width: 280px; }
.resultsGrid.grid .grid-item .description {
  display: block;
  font-size: 90%;
  padding-top: 5px;
  color: #000;
  padding-left: 20px;
  font-weight: bold; }
.resultsGrid.grid .grid-item .infoTitle {
  display: inline-block; }

.resultsList li:hover {
  background-color: #e6e6eb; }
.resultsList li.list-item {
  float: left;
  display: block;
  margin: 5px;
  text-align: left;
  width: 90%;
  color: #085eb9; }
  .resultsList li.list-item .resultObjectTitle {
    font-size: 125%;
    font-weight: bold; }
  .resultsList li.list-item .resultObjectYear {
    font-size: 75%;
    color: #000; }
  .resultsList li.list-item .resultObjectImage {
    display: inline-block;
    float: left;
    margin-right: 15px; }
    .resultsList li.list-item .resultObjectImage img {
      height: 80px; }
  .resultsList li.list-item .resultObjectRating {
    font-size: 75%; }
  .resultsList li.list-item .synopsis {
    display: block;
    font-size: 90%;
    color: darkgray;
    padding-left: 20px; }

#page {
  width: 100%;
  display: block;
  margin-bottom: 50px; }

#searchFormHolder {
  display: block; }

@media (min-width: 700px) {
  form#movieSearchForm {
    float: left;
    left: 37%;
    position: relative;
    width: 50%;
    margin-top: 20px; } }
@media (max-width: 699px) {
  form#movieSearchForm {
    float: left;
    left: 2%;
    position: relative;
    width: 100%;
    margin-top: 20px; } }
.main {
  width: 67%;
  display: inline-block;
  float: left;
  padding-top: 20px;
  padding-bottom: 50px; }
  @media (max-width: 700px) {
    .main {
      width: 100%; } }

#slideshow {
  width: 95%;
  max-height: 500px;
  height: auto;
  border-top: none;
  position: relative;
  overflow: hidden;
  padding-left: 2.5%; }
  @media (max-width: 700px) {
    #slideshow {
      display: none; } }

.slides {
  overflow: hidden;
  padding: 0px; }

.slide {
  width: 100%;
  position: relative;
  list-style-type: none; }
  .slide img {
    width: 100%; }

#sidebar {
  background-image: url("/images/offWhiteBackground.jpg");
  float: right;
  display: inline-block;
  min-width: 250px;
  margin-top: 35px;
  margin-right: 55px;
  padding: 10px;
  min-height: 450px;
  border-radius: 10px;
  text-align: left;
  min-width: 316px;
  width: 25%;
  background-color: #ffffff;
  box-shadow: 10px 10px 5px #000; }
  @media (max-width: 700px) {
    #sidebar {
      display: none; } }

.menuWrapper {
  /*----- Menu Outline -----*/
  /*----- Top Level -----*/
  /*----- Bottom Level -----*/ }
  .menuWrapper .clearfix:after {
    display: block;
    clear: both; }
  .menuWrapper .menu-wrap {
    width: 43%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #3e3436; }
  .menuWrapper .menu {
    width: 100%;
    margin: 0px auto; }
  .menuWrapper .menu li {
    margin: 0px;
    list-style: none;
    font-family: 'Ek Mukta'; }
  .menuWrapper .menu a {
    transition: all linear 0.15s;
    color: #fab83a;
    text-decoration: none; }
  .menuWrapper .menu li:hover > a, .menuWrapper .menu .current-item > a {
    text-decoration: none;
    color: #66a992; }
  .menuWrapper .menu .arrow {
    font-size: 11px;
    line-height: 0%; }
  .menuWrapper .menu > ul > li {
    float: left;
    display: inline-block;
    position: relative;
    font-size: 19px; }
  .menuWrapper .menu > ul > li > a {
    padding: 33px 30px;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); }
  .menuWrapper .menu > ul > li:hover > a, .menuWrapper .menu > ul > .current-item > a {
    background: #2e2728; }
  .menuWrapper .menu li:hover .sub-menu {
    z-index: 1;
    opacity: 1; }
  .menuWrapper .sub-menu {
    width: 160%;
    padding: 5px 0px;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: -1;
    opacity: 0;
    transition: opacity linear 0.15s;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background: #2e2728; }
  .menuWrapper .sub-menu li {
    display: block;
    font-size: 16px; }
  .menuWrapper .sub-menu li a {
    padding: 10px 30px;
    display: block; }
  .menuWrapper .sub-menu li a:hover, .menuWrapper .sub-menu .current-item a {
    background: #3e3436; }

.expandedCard {
  width: 100%;
  height: 1200px;
  background-image: url("/images/header_background.png"); }

.centeredImg {
  height: 370px; }

.expandedDescription {
  text-indent: 50px; }

/*# sourceMappingURL=screen.css.map */
