body{
  margin:0px;
  height:100%;
  background: url(/images/back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.nav{
	display:block;
}
.hidden{
  display:none;
}
@mixin horizontalList(){
	li{
		float: left;
		list-style: none;
		padding-right: 10px;
	}
	
}

@mixin centerLeftAlign(){
  .container{
    left:50%;
    width:50%;
    position:absolute;
    .centered-container{
      left:-25%;
      position:absolute;
    }
  }
}

@mixin mobileCenterLeftAlign(){
  .container{
    left:19%;
    width:90%;
    position:absolute;
    .centered-container{
      left:5%;
      position:absolute;
    }
  }
}
