<div class="menuWrapper">
	<div class="menu-wrap">
	    <nav class="menu">
	        <ul class="clearfix">
	            <li><a href="#">Home</a></li>
	            <li>
	                <a href="#">Services <span class="arrow">&#9660;</span></a>
	 
	                <ul class="sub-menu">
	                    <li><a href="#">Inspection Services</a></li>
	                    <li><a href="#">Failure Analysis</a></li>
	                    <li><a href="#">Consultation</a></li>
	                    <li><a href="#">HSE Services</a></li>
	                    <li><a href="#">Litigation Support</a></li>
	                    <li><a href="#">Project Design</a></li>
	                </ul>
	            </li>
	            <li>
	            	<a href="#">About Us <span class="arrow">&#9660;</span></a>
	 
	                <ul class="sub-menu">
	                    <li><a href="#">About Us</a></li>
	                    <li><a href="#">Inspector Qualifications</a></li>
	                    <li><a href="#">NACE Ethics</a></li>
	                    <li><a href="#">Contact Us</a></li>
	                </ul>
	            </li>
	            <li><a href="#">Markets</a></li>
	            <li><a href="#">FAQ</a></li>
	            <li>
	            	<a href="#">Contact Us <span class="arrow">&#9660;</span></a>
	 
	                <ul class="sub-menu">
	                    <li><a href="#">Office</a></li>
	                    <li><a href="#">Recieve a Quote</a></li>
	                    <li><a href="#">Employment Opportunities</a></li>
	                    <li><a href="#">General Inquiries</a></li>
	                </ul>
	            </li>
	        </ul>
	    </nav>
	</div>
</div>