#page{
	width:100%;
	display:block;
	margin-bottom:50px;
}
#searchFormHolder{
  display:block;
}
@media(min-width: 700px){
  form#movieSearchForm {
    float: left;
    left: 37%;
    position: relative;
    width: 50%;
    margin-top: 20px;
  }
}
@media(max-width: 699px){
  
  form#movieSearchForm {
    float: left;
    left: 2%;
    position: relative;
    width: 100%;
    margin-top: 20px;
  }
}
.main {
  width: 67%;
  display: inline-block;
  float: left;
  padding-top: 20px;
  padding-bottom: 50px;
  @media(max-width:700px){
    width: 100%;
  }
}
