#page{
	width:100%;
	display:block;
	margin-bottom:50px;
}
#searchFormHolder{
  display:block;
}
form#movieSearchForm {
  float: left;
  left: 37%;
  position: relative;
  width: 50%;
  margin-top: 20px;
}
.main {
  width: 100%;
  display: block;
  float: left;
  padding-top: 20px;
}
