<a target="_blank" href="<%= title %>" id="<%= classID %>">
          <span class='result grid-item'>
              <span class="resultObjectImage">
                    <img src="<%= posters.thumbnail %>"/>
              </span>
              <span class="resultObjectTitle">
                 <%= title %> 
              </span>
              <% if(description !=""){ %>
              <span class="description">
                <%= description %> 
              </span>
              <% } %>
          </span>
      </a>