$bestBuyBlue:#085eb9;
$subBlue: cornflowerblue;
$offWhite:rgb(230,230,235);
$nearlyBlackGray:rgb(42,41,41);
$jetBlack: #000;
$neutralGrey: #f3f1f1;
$monitiseOrange: #fab83a;
$darkOrange: #EFAB17;
$subtitleOrange: rgb(245, 172, 38);
$snowWhite: #ffffff;
$darkGrey: darkgrey;
$limeGreen: limegreen;
$hunterGreen: #66a992;



