.resultsGrid.grid .clicked .grid-item{
	
		width:100%;
		height:1200px;
		
	.resultObjectTitle.expandedTitle{
		font-size:3em;
		display:inline-block;
		margin-left:auto;
		margin-right:auto;
	}
	.close{
		height:2%;
		width:2%;
		position:relative;
		float:right;
	}
	.closeButton{
		height:100%;
		width:auto;
	}
	.resultObjectImage .centeredImg{
		height: 370px;
		border-radius: 10px;
		box-shadow: 10px 10px 5px $jetBlack;
	}
	.extendedDescription{
		font-size:1.3em;
		font-weight:normal;
	}
}
