.resultsGrid .clicked .grid-item{
	
		width:100%;
		height:1200px;
		
	.resultObjectTitle.expandedTitle{
		font-size:3em;
		display:inline-block;
		margin-left:auto;
		margin-right:auto;
	}
	.resultObjectImage .centeredImg{
		height: 370px;
	}
	.description.expandedDescription{
		/*text-indent:50px;*/
		font-size:1.3em;
		font-weight:normal;
	}
}
