#sidebar {
  float: right;
  display: inline-block;
  min-width: 250px;
  margin-top: 35px;
  margin-right: 55px;
  padding: 10px;
  min-height: 450px;
  border-radius: 10px;
  text-align: left;
  min-width: 316px;
  width: 25%;
  background-color: $snowWhite;
  box-shadow: 10px 10px 5px $jetBlack;
  @media(max-width:700px){
    display:none;
  }
}